* {
  font-family: "Times New Roman", Times, serif;
  background-color: #fff9c4;
}

body h1 {
  text-align: center;
  background-color: #ffcdd2;
  border-radius: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid #a0e6ff;
  border-radius: 20px;
}

h5 {
  text-align: center;
  margin-top: 5px;
  margin-left: 100px;
}

p {
  text-align: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  margin: 10px;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  background-color: #ffcdd2;
  border-radius: 10px;
  padding: 10px;
}

.card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card li {
  margin-bottom: 5px;
}

.card li:before {
  margin-right: 5px;
}

.card2 {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  margin: 10px;
}

.card2 h2 {
  font-size: 24px;
  margin-bottom: 10px;
  background-color: #ffcdd2;
  border-radius: 10px;
  padding: 10px;
}

.card2 ul {
  padding: 0;
  margin: 0;
}

.card2 li {
  margin-bottom: 5px;
}

.card2 li:before {
  margin-right: 5px;
}

h3 {
  text-align: center;
}
